<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Nguyễn Đức Nam">
    <meta name="generator" content="Hugo 0.82.0">
    <title>LoRa Server - Control Site</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="../public/bootstrap5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="../public/jquery-3.6.0.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <script src="../public/bootstrap5.0/js/bootstrap.min.js"></script>
    <script src="../public/socket.io.min.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .light-blue {
            background-color: aqua;
        }
    </style>

</head>

<body class="">
    <main class="">
        <div class="container">
            <!-- Heading -->
            <div class="w-100 d-flex justify-content-center p-4">
                <div class="text-uppercase">
                    <h1 class="font-weight-bold">hệ thống điều khiển chiếu sáng</h1>
                </div>
            </div>
            <!-- Button "BẬT TOÀN BỘ - TẮT TOÀN BỘ" -->
            <div class="d-flex p-4">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" id="btnAllOnID" class="btn btn-success">BẬT TOÀN BỘ</button>
                    <button type="button" id="btnAllOffID" class="btn btn-secondary">TẮT TOÀN BỘ</button>
                </div>
            </div>
            <div class="row d-flex align-content-center justify-content-xl-evenly">
                <!-- Single node block -->
                <div class="col-2 text-center border rounded p-2" id="node0_background">
                    <div class="border border-dark border-secondary p-1">
                        <span>ID: </span><span id="node0_id">NodeID</span>
                    </div>
                    <div>
                        <div class="p-1">
                            <span>Location: </span><span id="node0_location"></span>
                        </div>
                        <div class="p-1" id="node0_status">
                            OFF
                        </div>
                        <div>
                            <span class="p-2">Error: </span><span id="node0_error"></span>
                        </div>
                        <div class="p-2 d-flex justify-content-center">
                            <div class="btn-group" role="group">
                                <div type="button" class="btn btn-success">Bật</div>
                                <div type="button" class="btn btn-secondary">Tắt</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single node block -->
                <div class="col-2 text-center border rounded p-2" id="node1_background">
                    <div class="border border-dark border-secondary p-1">
                        <span>ID: </span><span id="node1_id">NodeID</span>
                    </div>
                    <div>
                        <div class="p-1">
                            <span>Location: </span><span id="node1_location"></span>
                        </div>
                        <div class="p-1" id="node1_status">
                            OFF
                        </div>
                        <div>
                            <span class="p-2">Error: </span><span id="node1_error"></span>
                        </div>
                        <div class="p-2 d-flex justify-content-center">
                            <div class="btn-group" role="group">
                                <div type="button" class="btn btn-success">Bật</div>
                                <div type="button" class="btn btn-secondary">Tắt</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single node block -->
                <div class="col-2 text-center border rounded p-2" id="node2_background">
                    <div class="border border-dark border-secondary p-1">
                        <span>ID: </span><span id="node2_id">NodeID</span>
                    </div>
                    <div>
                        <div class="p-1">
                            <span>Location: </span><span id="node2_location"></span>
                        </div>
                        <div class="p-1" id="node2_status">
                            OFF
                        </div>
                        <div>
                            <span class="p-2">Error: </span><span id="node2_error"></span>
                        </div>
                        <div class="p-2 d-flex justify-content-center">
                            <div class="btn-group" role="group">
                                <div type="button" class="btn btn-success">Bật</div>
                                <div type="button" class="btn btn-secondary">Tắt</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-xxl-start">
                <div class="col-1 bg-primary border rounded"></div>
            </div>
        </div>
    </main>
    <script>
        //begin reload status
        var reRender = setInterval(() => {
            $.ajax({
                type: "GET",
                url: "/status",
                dataType: "json",
                success: function (msg) {
                    for (let i = 0; i < 3; i++) {
                        $(`#node${i}_id`).text(msg[`node${i}_id`]);
                        $(`#node${i}_location`).text(msg[`node${i}_location`]);
                        $(`#node${i}_status`).text(msg[`node${i}_status`]);
                        $(`#node${i}_error`).text(msg[`node${i}_error`]);
                        if (msg[`node${i}_status`] === 'ON') {
                            $(`#node${i}_status`).css('background-color', '#00FF00');
                        }
                        else if (msg[`node${i}_status`] === 'OFF' && !msg[`node${i}_error`]) {
                            $(`#node${i}_status`).css('background-color', '#808080');
                        }
                        else if (msg[`node${i}_error`]) {
                            $(`#node${i}_status`).css('background-color', '#FF0000');
                        }
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }, 2000);
        $(document).ready(function () {
            reRender();
        })
        $(document).unload(function () {
            clearInterval(reRender);
        })
        //end reload status
        document.getElementById("btnAllOnID").addEventListener("click", onAllLightClick);
        document.getElementById("btnAllOffID").addEventListener("click", offAllLightClick);
        var reqIndex = 0;
        function onAllLightClick() {
            reqIndex++;
            var sendInfo = {
                "source": "server",
                "type": "control",
                "controlData": {
                    "nodeID": "*",
                    "status": "on"
                },
                "sequenceID": reqIndex,
                "timestamp": Math.floor(new Date().getTime() / 1000)
            }
            $.ajax({
                type: "POST",
                url: "/api/control",
                dataType: "json",
                success: function (response) {
                    $("#result").empty().append(response);
                },
                error: function (err) {
                    console.log(err);
                },
                data: JSON.stringify(sendInfo)
            });
        }

        function offAllLightClick() {
            reqIndex++;
            var sendInfo = {
                "source": "server",
                "type": "control",
                "controlData": {
                    "nodeID": "*",
                    "status": "off"
                },
                "sequenceID": reqIndex,
                "timestamp": Math.floor(new Date().getTime() / 1000)
            }
            $.ajax({
                type: "POST",
                url: "/api/control",
                dataType: "json",
                success: function (response) {
                    $("#result").empty().append(response);
                },
                error: function (err) {
                    console.log(err);
                },
                data: JSON.stringify(sendInfo)
            });
        }
    </script>
</body>

</html>