<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Nguyễn Đức Nam">
    <meta name="generator" content="Hugo 0.82.0">
    <title>LoRa Server - Control Site</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="../public/bootstrap5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="../public/jquery-3.6.0.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <script src="../public/bootstrap5.0/js/bootstrap.min.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .light-blue {
            background-color: aqua;
        }
    </style>

</head>

<body class="">
    <main class="">
        <div class="w-100 d-flex justify-content-center pt-3">
            <div class="">
                HỆ THỐNG ĐIỀU KHIỂN CHIẾU SÁNG
            </div>
        </div>
        <div class="p-5">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" id="btnAllOnID" class="btn btn-success">BẬT TOÀN BỘ</button>
                <button type="button" id="btnAllOffID" class="btn btn-secondary">TẮT TOÀN BỘ</button>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-2 ">
                <div class="d-flex light-blue justify-content-center align-items-center m-1">
                    <div class="card-header bg-transparent">
                        ABC
                    </div>
                    <div class="bg-transparent">
                        <div class="">9</div>
                        <div>ON</div>
                    </div>
                </div>
            </div>
            <div class="col-2 ">
                <div class="d-flex light-blue justify-content-center align-items-center m-1">
                    <div class="card-header bg-transparent">
                        ABC
                    </div>
                    <div class="bg-transparent">
                        <div class="">9</div>
                        <div>ON</div>
                    </div>
                </div>
            </div>
            <div class="col-2 ">
                <div class="d-flex light-blue justify-content-center align-items-center m-1">
                    <div class="card-header bg-transparent">
                        ABC
                    </div>
                    <div class="bg-transparent">
                        <div class="">9</div>
                        <div>ON</div>
                    </div>
                </div>
            </div>
            <div class="col-2 ">
                <div class="d-flex light-blue justify-content-center align-items-center m-1">
                    <div class="card-header bg-transparent">
                        ABC
                    </div>
                    <div class="bg-transparent">
                        <div class="">9</div>
                        <div>ON</div>
                    </div>
                </div>
            </div>
            <div class="col-2 ">
                <div class="d-flex light-blue justify-content-center align-items-center m-1">
                    <div class="card-header bg-transparent">
                        ABC
                    </div>
                    <div class="bg-transparent">
                        <div class="">9</div>
                        <div>ON</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        document.getElementById("btnAllOnID").addEventListener("click", onAllLightClick);
        document.getElementById("btnAllOffID").addEventListener("click", offAllLightClick);
        var reqIndex = 0;
        function onAllLightClick() {
            reqIndex++;
            var sendInfo = {
                "source": "server",
                "type": "control",
                "controlData": {
                    "nodeID": "*",
                    "status": "on"
                },
                "sequenceID": reqIndex,
                "timestamp": Math.floor(new Date().getTime() / 1000)
            }
            $.ajax({
                type: "POST",
                url: "/api/control",
                dataType: "json",
                success: function (response) {
                    $("#result").empty().append(response);
                },
                error: function (err) {
                    console.log(err);
                },
                data: JSON.stringify(sendInfo)
            });
        }

        function offAllLightClick() {
            reqIndex++;
            var sendInfo = {
                "source": "server",
                "type": "control",
                "controlData": {
                    "nodeID": "*",
                    "status": "off"
                },
                "sequenceID": reqIndex,
                "timestamp": Math.floor(new Date().getTime() / 1000)
            }
            $.ajax({
                type: "POST",
                url: "/api/control",
                dataType: "json",
                success: function (response) {
                    $("#result").empty().append(response);
                },
                error: function (err) {
                    console.log(err);
                },
                data: JSON.stringify(sendInfo)
            });
        }
    </script>
</body>

</html>