<html>
    <head>
        <title>Hello EJS Template</title>
        <link href="/assets/style.css" type="text/css" rel="stylesheet">
    </head>

    <body>
        <h1>User: <%= ID %></h1>
        <h2>QueryString Value: <%= queryString  %></h2>
    </body>
</html>